{{- /* del Pezzo automorphism groups. Input: enriched $dp. */ -}}
{{- $dp := . -}}
<dl class="row">
  {{ if in (slice 1 2 3 4) $dp.degree }}
    <table class="table-sm mx-auto">
      <thead>
        <tr class="border-bottom">
          <th class="text-center">type</th>
          <th class="text-center">order</th>
          <th class="text-center">structure</th>
        </tr>
      </thead>

      <tbody>
      {{ range $dp.groups }}
        <tr>
          <td class="text-center">{{ index . 0 }}</td>
          <td class="text-center">{{ index . 1 }}</td>
          <td class="text-center">{{ index . 2 }}</td>
        </tr>
      {{ end }}
      </tbody>
    </table>
  {{ else }}
    <table class="table-sm mx-auto">
      <thead>
        <tr class="border-bottom">
          <td>group</td>
          <td>dimension</td>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center">{{ index $dp.automorphisms 0 }}</td>
        <td class="text-center">{{ index $dp.automorphisms 1 }}</td>
        <td class="text-center">
  {{ end }}
</dl>
