{{- /* period sequences. Input: enriched $fano. */ -}}
{{- $fano := . -}}
{{ if $fano.period }}
  <p>The following period sequences are associated to this Fano 3-fold:</p>
  <dl class="row">
    <dt class="col-6 text-end"><abbr title="Graded Ring Database">GRDB</abbr></dt>
    <dd class="col-6"><a href="http://www.grdb.co.uk/search/period3?id={{ $fano.period_grdb }}">#{{ $fano.period_grdb }}</a>

    <dt class="col-6 text-end">Fanosearch</dt>
    <dd class="col-6"><a href="http://coates.ma.ic.ac.uk/3DMinkowskiPeriodSequences.html#{{ $fano.period_fanosearch }}">#{{ $fano.period_fanosearch }}</a>
  </dl>
{{ else }}
  <p>There is no period sequence associated to this Fano 3-fold.
{{ end }}
