{{- /* description as a zero section. Input: enriched $fano. */ -}}
{{- $fano := . -}}
<p><a href="https://arxiv.org/abs/2009.13382">Fano 3-folds from homogeneous vector bundles over Grassmannians</a> gives the following description(s):
{{ $n := len $fano.sections }}
{{ range $i, $s := $fano.sections }}
  <dl class="row">
    <dt class="col-3 text-end">variety</dt>
    <dd class="col-9">{{ $s.ambient }}</dd>

    <dt class="col-3 text-end">bundle</dt>
    <dd class="col-9">{{ $s.bundle }}</dd>
  </dl>

  {{ if ne $i (sub $n 1) }}<p><hr>{{ end }}
{{ end }}
<p>See <a href="/zero-section">the big table</a> for more information.
