@media (max-width: 800px) {
  div.card-columns {
    column-count: 1;
  }
}

a.previous:before {
  content: "\ab";
}

a.next:after {
  content: "\bb";
}

div.diamond {
  text-align: center;
}

div.diamond span {
  display: inline-block;
  width: 2.5rem;
}
