@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

div#menu {
  background-color: black;
  text-align: center;
  height: 2rem;
}

div#title {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-family: Georgia, serif;
  z-index: 3;
}

div#content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem .5rem;
  overflow-x: scroll;
}

div#content::-webkit-scrollbar {
  display: none;
}

div#menu ul {
  padding-top: .2rem;
}

div#menu ul li {
  margin: 0 1rem;
}

div#menu a {
  color: #337ab7;
}

div#menu a:hover {
  color: #d9edf7;
  text-decoration: none;
}

h1 {
  font-size: 2.4rem;
  font-variant: small-caps;
  padding-top: .3rem;
}

h1 a {
  display: block;
}

h1 a,
h1 a:hover {
  color: black;
  color: black;
}

h1 a::first-letter {
  color: #971539;
}


p#slogan {
  font-style: italic;
  font-size: .9rem;
  margin-bottom: .5rem;
}

h2 {
  font-size: 1.3rem;
}

h2 a,
h2 a:hover {
  color: black;
}

.identifier {
  font-family: "Roboto Mono", monospace;
}

table.overview tr .row-identifier {
  width: 2rem;
}

table.overview tr .volume,
table.overview tr .h12,
table.overview tr .index {
  width: 2rem;
}
