{% extends "page.html" %}

{% block title %}About{% endblock %}

{% block content %}

<h2>References</h2>

<ul>
  <li>Iskovskikh&ndash;Prokhorov</li>
</ul>

<h2>How to contribute</h2>
<p>It is to be expected that there are typos, or suboptimal descriptions. If that is the case you can
<ul>
  <li>contact me (see below)
  <li><a href="https://github.com/pbelmans/fanography/issues">create an issue on GitHub</a>
  <li>fix it yourself in <a href="https://github.com/pbelmans/fanography/blob/master/fanography/data.yml"><code>data.yml</code></a> and <a href="https://github.com/pbelmans/fanography/pulls">do a pull request on GitHub</a>
</ul>

<h2>Contact</h2>
<p>See <a href="https://pbelmans.ncag.info/">pbelmans.ncag.info</a>. Or just email me at <a href="mailto:pieterbelmans@gmail.com">pieterbelmans@gmail.com</a>.


{% endblock %}



