{# overview table #}
{% macro table(fanos, rho) %}
<table class="overview table table-hover table-sm" id="table-{{ rho }}">
  <thead>
    <tr>
      <th scope="col" class="text-center">ID</th>

      <th scope="col" class="text-center" data-sort-method="number">$-\mathrm{K}_X^3$</th>

      <th scope="col" class="text-center" data-sort-method="number">$\mathrm{h}^{1,2}$</th>

      {% if rho in [1, 2, 3] %}
        <th scope="col" class="text-center" data-sort-method="number">index</th>
      {% endif %}

      <th scope="col" class="no-sort" data-sort-method="none">description</th>

      {# all these are hidden on smartphone screens #}

      {% if rho != 10 %}
        <th scope="col" class="text-center d-none d-lg-table-cell">blowups</th>
      {% endif %}

      {% if rho != 1 %}
        <th scope="col" class="text-center d-none d-lg-table-cell">blowdowns</th>
      {% endif %}

      <th scope="col" class="text-center d-none d-lg-table-cell">rational</th>

      <th scope="col" class="text-center d-none d-lg-table-cell">unirational</th>

      {# all of these are hidden on anything that isn't extra large #}

      <th scope="col" class="text-center d-none d-xl-table-cell">moduli</th>

      <th scope="col" class="text-center d-none d-xl-table-cell no-sort" data-sort-method="none">$\mathrm{Aut}^0$</th>
    </tr>
  </thead>

  <tbody>
    {% for ID in fanos.keys() | sort %}
      {% set fano = fanos[ID] %}

      <tr>
        <td class="align-middle row-identifier" data-sort="{{ "%03d%03d" | format(fano["rho"], fano["ID"]) }}"><a class="identifier text-nowrap" href="/{{ fano.identifier() }}">{{ fano.identifier(pretty=True) | safe }}</a></td>

        <td class="align-middle volume text-center">{{ fano["KX3"] }}</td>

        <td class="align-middle h12 text-center">{{ fano["h12"] }}</td>

        {% if rho in [1, 2, 3] %}
          <td class="align-middle index text-center" scope="col">{{ fano["index"] }}</td>
        {% endif %}

        <td class="align-middle description">
          {{ fano["description"] | safe }}
          {% if fano["alternative"] %}
            <dl class="d-none d-xl-block mb-0">
              <dt>alternative</dt>
              {% for alternative in fano["alternative"] %}
                <dd class="mb-0 ml-5">{{ alternative | safe }}</dd>
              {% endfor %}
            </dl>
          {% endif %}
        </td>

        {# all of these are hidden on smartphone screens #}

        {% if rho != 10 %}
          <td class="align-middle blowup text-center d-none d-lg-table-cell">
            {% if fano["blowup"] %}<a href="/{{ fano.identifier() }}#birational">+</a>{% endif %}
          </td>
        {% endif %}

        {% if rho != 1 %}
          <td class="align-middle blowdown text-center d-none d-lg-table-cell">
          {% for blowdown in fano["blowdown"] %}
            <a href="/{{ blowdown.identifier() }}" class="identifier text-nowrap">{{ blowdown.identifier(pretty=True) | safe }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
          </td>
        {% endif %}

        <td class="align-middle rationality text-center d-none d-lg-table-cell">{{ fano["rationality"] }}</td>

        <td class="align-middle unirationality text-center d-none d-lg-table-cell">{{ fano["unirationality"] }}</td>

        {# all of these are hidden on anything that isn't extra large #}

        <td class="align-middle moduli text-center d-none d-xl-table-cell">{{ fano["moduli"] }}</td>

        <td class="align-middle moduli text-center d-none d-xl-table-cell">
          {% if fano["Aut"] | length == 1 %}
            ${{ fano["Aut"][0][0] }}$
          {% else %}
            <table class="table-sm mx-auto">
              <thead>
                <tr class="border-bottom">
                  <th class="text-center border-0">$\mathrm{Aut}^0(X)$</th>
                  <th class="text-center border-0">moduli</th>
                </tr>
              </thead>

              <tbody>
                {% for tuple in fano["Aut"] if tuple[0] != "0" %}
                  <tr>
                    <td class="text-center border-0">${{ tuple[0] }}$</td>
                    <td class="text-center border-0">{{ tuple[1] }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </td>

      </tr>
    {% endfor %}
  </tbody>
</table>

{% if rho < 6 %} {# only makes sense if there are different families #}
  <script type="text/javascript">
  new Tablesort(document.getElementById("table-{{ rho }}"));
  </script>
{% endif %}
{% endmacro %}

{# generic component layout #}
{% macro component(header, content, id="") %}
<div id="{{ id }}" class="card">
  <div class="card-header">{{- header }}</div>

  <div class="card-body">
    {{ content }}
  </div>
</div>
{% endmacro %}


{# basic information on X #}
{% macro basic(fano, previous, next) %}
<p class="clearfix">
{% if previous %}
  <a class="previous float-left identifier" href="/{{ previous.identifier() }}">{{ previous.identifier(pretty=True) | safe }}</a>
{% endif %}

{% if next %}
  <a class="next float-right identifier" href="/{{ next.identifier() }}">{{ next.identifier(pretty=True) | safe }}</a>
{% endif %}
</p>

<h5 class="card-title">Fano variety <span class="identifier">{{ fano.identifier(pretty=True)  | safe}}</span></h5>

<p>{{ fano["description"] | safe }}

{% if fano["alternative"] %}
  <p><strong>Alternative description{% if fano["alternative"] | length > 1 %}s{% endif %}</strong>:
  <ul>
    {% for alternative in fano["alternative"] %}
      <li>{{ alternative | safe }}
    {% endfor %}
  </ul>
{% endif %}

<dl class="row">
  <dt class="col-6 text-right">rank
  <dd class="col-6">{{ fano["rho"] }}
  {% if fano["rho"] in [1, 2, 3, 4, 5] %}(<a href="/{{ fano["rho"] }}">others</a>){% endif %}

  <dt class="col-6 text-right">$-\mathrm{K}_X^3$
  <dd class="col-6">{{ fano["KX3"] }}

  <dt class="col-6 text-right">$\mathrm{h}^{1,2}(X)$
  <dd class="col-6">{{ fano["h12"] }}
</dl>

{% endmacro %}


{# information about |-K_X| #}
{% macro anticanonical(fano) %}
<dl class="row">
  <dt class="col-6 text-right">index</dt>
  <dd class="col-6">{{ fano["index"] }}</dd>

  <dt class="col-6 text-right">$\dim\mathrm{H}^0(X,\omega_X^\vee)$</dt>
  <dd class="col-6">{{ fano["KX3"] // 2 + 3 }}</dd>

  {# page 216 of Iskovskikh--Prokhorov, remark (ii) #}
  <dt class="col-6 text-right">basepoint free</dt>
  {% if (fano["rho"], fano["ID"]) not in [(2, 1), (3, 8)] %}
    <dd class="col-6 text-nowrap">yes</dd>
  {% else %}
    <dd class="col-6 text-nowrap">no</dd>
  {% endif %}

  {# page 216 of Iskovskikh--Prokhorov, remark (iii) #}
  <dt class="col-6 text-right">hyperelliptic</dt>
  {% if (fano["rho"], fano["ID"]) not in [(2, 2), (2, 3), (10, 1)] %}
    <dd class="col-6 text-nowrap">no
  {% else %}
    <dd class="col-6 text-nowrap">yes
  {% endif %}

  {# page 216 of Iskovskikh--Prokhorov, remark (iv) #}
  <dt class="col-6 text-right">trigonal</dt>
  {% if (fano["rho"], fano["ID"]) not in [(2, 4), (2, 5), (8, 1)] %}
    <dd class="col-6 text-nowrap">no
  {% else %}
    <dd class="col-6 text-nowrap">yes
  {% endif %}
</dl>
{% endmacro %}


{# Hodge diamond #}
{% macro diamond(fano) %}
<div class="diamond">
  <span>1</span><br style="clear: both">

  <span>0</span>
  <span>0</span><br style="clear: both">

  <span>0</span>
  <span>{{ fano["rho"] }}</span>
  <span>0</span><br style="clear: both">

  <span>0</span>
  <span>{{ fano["h12"] }}</span>
  <span>{{ fano["h12"] }}</span>
  <span>0</span><br style="clear: both">

  <span>0</span>
  <span>{{ fano["rho"] }}</span>
  <span>0</span><br style="clear: both">

  <span>0</span>
  <span>0</span><br style="clear: both">

  <span>1</span><br style="clear: both">
</div>
{% endmacro %}


{# information about birational geometry #}
{% macro birational(fano) %}
{% if fano["rationality"] == "yes" %}
  <p>This variety is rational.
{% elif fano["rationality"] == "generically non-rational" %}
  <p>This variety is known to be generically non-rational.
{% elif fano["unirationality"] in ["yes", "some"] %}
  <p>This variety is not rational but {% if fano["unirationality"] == "some" %}at least some are{% endif %} unirational.
{% elif fano["unirationality"] == "?" %}
  <p>This variety is not known to be unirational.
{% else %}
  <p>This variety is not unirational.
{% endif %}

<hr>

{% if fano["is_primitive"] %}
  <p>This variety is primitive.<p>
{% else %}
  <p>This variety is the blowup of
  <ul>
    {% for blowdown in fano["blowdown"] %}
      <li><a href="/{{ blowdown.identifier() }}" class="identifier">{{ blowdown.identifier() | replace("-", "&ndash;") | safe }}</a>, in a curve of genus {{ fano["h12"] - blowdown["h12"] }}
    {% endfor %}
  </ul>
{% endif %}

{% if fano["blowup"] %}
  <p>This variety can be blown up (in a curve) to
  <ul>
    {% for blowup in fano["blowup"] %}
      <li><a href="/{{ blowup.identifier() }}" class="identifier">{{ blowup.identifier() | replace("-", "&ndash;") | safe }}</a>, in a curve of genus {{ blowup["h12"] - fano["h12"] }}
    {% endfor %}
  </ul>
{% endif %}

{% if fano["fibrelike"] %}
  <hr>

  <p>This variety is <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=3509946">fibre-like</a>, i.e. it can appear as the fibre of a Mori fibre space.</p>
{% endif %}
{% endmacro %}


{% macro deformations(fano) %}
<dl class="row">
  <dt class="col-6 text-right">number of moduli</dt>
  {# TODO remove this eventually #}
  {% if fano["moduli"] == -1 %}
    <dd class="col-6"><p class="alert alert-warning">Currently there is no correct value available.</dd>
  {% else %}
    <dd class="col-6">{{ fano["moduli"] }}</dd>
  {% endif %}

  <hr>

  <table class="table-sm mx-auto">
    <thead>
      <tr class="border-bottom">
        <th class="text-center">$\mathrm{Aut}^0(X)$</th>
        <th class="text-center">$\dim\mathrm{Aut}^0(X)$</th>
        <th class="text-center">number of moduli</th>
      </tr>
    </thead>

    <tbody>
      {% for tuple in fano["Aut"] %}
        <tr>
          <td class="text-center">${{ tuple[0] }}$</td>
          <td></td>
          <td class="text-center">{{ tuple[1] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</dl>
{% endmacro %}
