{# deal with description(s) #}
{% macro description(fano) %}
{% if fano["description"] | length == 1 %}
  <p>{{ fano["description"][0] | safe }}
{% else %}
  <ol class="description">
    {% for description in fano["description"] %}
      <li>{{ description | safe }}
    {% endfor %}
  </ol>
{% endif %}
{% endmacro %}

{% macro MR(identifier) %}
[<a href="https://mathscinet.ams.org/mathscinet-getitem?mr={{ identifier }}">{{ identifier }}</a>]
{% endmacro %}

{# overview table #}
{% macro table(fanos, rho) %}
<table class="overview table table-hover table-sm" id="table-{{ rho }}">
  <thead>
    <tr>
      <th scope="col" class="text-center">ID</th>

      <th scope="col" class="text-center" data-sort-method="number">$-\mathrm{K}_X^3$</th>

      {% if rho == 1 %}
        <th scope="col" class="d-none d-lg-table-cell text-center" data-sort-method="number">$g$</th>
      {% endif %}

      <th scope="col" class="text-center" data-sort-method="number">$\mathrm{h}^{1,2}$</th>

      {% if rho in [1, 2, 3] %}
        <th scope="col" class="text-center" data-sort-method="number">index</th>
      {% endif %}

      <th scope="col" class="no-sort" data-sort-method="none">description</th>

      {# all these are hidden on smartphone screens #}

      {% if rho != 10 %}
        <th scope="col" class="text-center d-none d-lg-table-cell d-print-table-cell">blowups</th>
      {% endif %}

      {% if rho != 1 %}
        <th scope="col" class="text-center d-none d-lg-table-cell d-print-table-cell">blowdowns</th>
      {% endif %}

      <th scope="col" class="text-center d-none d-lg-table-cell d-print-table-cell">rational</th>

      <th scope="col" class="text-center d-none d-lg-table-cell d-print-table-cell">unirational</th>

      {# all of these are hidden on anything that isn't extra large #}

      <th scope="col" class="text-center d-none d-xl-table-cell d-print-table-cell">moduli</th>

      <th scope="col" class="text-center d-none d-xl-table-cell d-print-table-cell no-sort" data-sort-method="none"><a href="/explained#aut">$\mathrm{Aut}^0$</a></th>
    </tr>
  </thead>

  <tbody>
    {% for ID in fanos.keys() | sort %}
      {% set fano = fanos[ID] %}

      <tr>
        <td class="align-middle row-identifier" data-sort="{{ "%03d%03d" | format(fano["rho"], fano["ID"]) }}"><a class="identifier text-nowrap" href="/{{ fano.identifier() }}">{{ fano.identifier() }}</a></td>

        <td class="align-middle volume text-center">{{ fano["KX3"] }}</td>

        {% if rho == 1 %}
          <td class="align-middle genus text-center d-none d-lg-table-cell">{{ fano["genus"] }}</td>
        {% endif %}

        <td class="align-middle h12 text-center">{{ fano["h12"] }}</td>

        {% if rho in [1, 2, 3] %}
          <td class="align-middle index text-center" scope="col">{{ fano["index"] }}</td>
        {% endif %}

        <td class="align-middle description">
          {% if fano["name"] %}
            <strong>{{ fano["name"] | safe }}</strong>
          {% endif %}

          {{ description(fano) }}

          {% if fano["alternative"] %}
            <dl class="d-none d-xl-block d-print-block mb-0">
              <dt>alternative</dt>
              {% for alternative in fano["alternative"] %}
                <dd class="mb-0 ml-5">{{ alternative | safe }}</dd>
              {% endfor %}
            </dl>
          {% endif %}
        </td>

        {# all of these are hidden on smartphone screens #}

        {% if rho != 10 %}
          <td class="align-middle blowup text-center d-none d-lg-table-cell d-print-table-cell">
            {% if fano["blowup"] %}<a href="/{{ fano.identifier() }}#birational">*</a>{% endif %}
          </td>
        {% endif %}

        {% if rho != 1 %}
          <td class="align-middle blowdown text-center d-none d-lg-table-cell d-print-table-cell">
          {% for blowdown in fano["blowdown"] %}
            <a href="/{{ blowdown.identifier() }}" class="identifier text-nowrap" data-toggle="tooltip" data-placement="bottom" data-html="true" title='{{ blowdown["plaintext"] }}'>{{ blowdown.identifier() }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
          </td>
        {% endif %}

        <td class="align-middle rationality text-center d-none d-lg-table-cell d-print-table-cell">{{ fano["rationality"] }}</td>

        <td class="align-middle unirationality text-center d-none d-lg-table-cell d-print-table-cell">{{ fano["unirationality"] }}</td>

        {# all of these are hidden on anything that isn't extra large #}

        <td class="align-middle moduli text-center d-none d-xl-table-cell d-print-table-cell" data-sort="{{ fano["moduli"][0] }}">
          {% if fano["moduli"] | length == 1 %}{{ fano["moduli"][0] }}
          {% else %}<ol class="description"><li>{{ fano["moduli"][0] }}<li>{{ fano["moduli"][1] }}</ol>{% endif %}
        </td>

        <td class="align-middle moduli text-center d-none d-xl-table-cell d-print-table-cell">
          {% if fano["Aut"] | length == 1 %}
            ${{ fano["Aut"][0][0] }}$
          {% else %}
            <table class="table-sm mx-auto">
              <thead>
                <tr class="border-bottom">
                  <th class="text-center border-0">$\mathrm{Aut}^0(X)$</th>
                  <th class="text-center border-0">moduli</th>
                </tr>
              </thead>

              <tbody>
                {% for tuple in fano["Aut"] if tuple[0] != "0" %}
                  <tr>
                    <td class="text-center border-0">${{ tuple[0] }}$</td>
                    <td class="text-center border-0">{{ tuple[1] }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </td>

      </tr>
    {% endfor %}
  </tbody>
</table>

{% if rho < 6 %} {# only makes sense if there are different families #}
  <script type="text/javascript">
  new Tablesort(document.getElementById("table-{{ rho }}"));
  </script>
{% endif %}
{% endmacro %}


{# toric table #}
{% macro torictable(fanos, order) %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" class="text-center">ID</th>

      <th scope="col" class="text-center" data-sort-method="number">$\rho$</th>

      <th scope="col" class="text-center" data-sort-method="number">$g$</th>

      <th scope="col" class="text-center" data-sort-method="number">index</th>

      <th scope="col" class="no-sort" data-sort-method="none">description</th>
    </tr>
  </thead>

  <tbody>
    {% for (rho, ID) in order %}
      {% set fano = fanos[rho][ID] %}

      <tr>
        <td class="align-middle row-identifier text-center" data-sort="{{ "%03d%03d" | format(fano["rho"], fano["ID"]) }}"><a class="identifier text-nowrap" href="/{{ fano.identifier() }}">{{ fano.identifier() }}</a></td>

        <td class="align-middle rank text-center">{{ fano["rho"] }}</td>

        <td class="align-middle genus text-center">{{ (fano["KX3"] + 2) // 2 }}</td>

        <td class="align-middle rank text-center">{{ fano["index"] }}</td>

        <td class="align-middle description">
          {% if fano["name"] %}
            <strong>{{ fano["name"] }}</strong>
          {% endif %}

          {{ description(fano) }}

          {% if fano["alternative"] %}
            <dl class="d-none d-xl-block d-print-block mb-0">
              <dt>alternative</dt>
              {% for alternative in fano["alternative"] %}
                <dd class="mb-0 ml-5">{{ alternative | safe }}</dd>
              {% endfor %}
            </dl>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}


{# del Pezzo varieties table #}
{% macro delpezzovarieties(fanos, order) %}
<table class="table">
  <thead>
    <tr>
      <th scope="col" class="text-center">Fano 3-fold</th>

      <th scope="col" class="text-center" data-sort-method="number">$H^{\dim X}$</th>

      <th scope="col" class="text-center" data-sort-method="number">$\rho$</th>

      <th scope="col" class="text-center">dimension</th>

      <th scope="col" class="no-sort" data-sort-method="none">description in dimension 3</th>

      <th scope="col" class="no-sort" data-sort-method="none">description</th>
    </tr>
  </thead>
  <tbody>
    {% for (rho, ID, dimension, data) in order %}
      {% set fano = fanos[rho][ID] %}

      <tr>
        <td class="align-middle text-center row-identifier" data-sort="{{ "%03d%03d" | format(fano["rho"], fano["ID"]) }}"><a class="identifier text-nowrap" href="/{{ fano.identifier() }}">{{ fano.identifier() }}</a></td>

        <td class="align-middle genus text-center">{{ fano["KX3"] // (fano["index"] ** 3) }}</td>

        <td class="align-middle rank text-center">{{ fano["rho"] }}</td>

        <td class="align-middle dimension text-center">
          {% if dimension == -1 %}any{% else %}${{ dimension }}${% endif %}
        </td>

        <td class="align-middle description">
          {% if fano["name"] %}
            <strong>{{ fano["name"] }}</strong>
          {% endif %}

          {{ description(fano) }}

          {% if fano["alternative"] %}
            <dl class="d-none d-xl-block d-print-block mb-0">
              <dt>alternative</dt>
              {% for alternative in fano["alternative"] %}
                <dd class="mb-0 ml-5">{{ alternative | safe }}</dd>
              {% endfor %}
            </dl>
          {% endif %}
        </td>

        <td class="align-middle description">
          {{ data["description"] }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}


{# generic component layout #}
{% macro component(header, content, id="") %}
<div id="{{ id }}" class="card">
  <div class="card-header">{{- header }}</div>

  <div class="card-body" style="overflow-x: auto">
    {{ content }}
  </div>
</div>
{% endmacro %}


{# basic information on X #}
{% macro basic(fano, previous, next) %}
<p class="clearfix">
{% if previous %}
  <a class="previous float-left identifier" data-toggle="tooltip" data-placement="bottom" data-html="true" title='{{ previous["plaintext"] }}' href="/{{ previous.identifier() }}">{{ previous.identifier() }}</a>
{% endif %}

{% if next %}
  <a class="next float-right identifier" data-toggle="tooltip" data-placement="bottom" data-html="true" title='{{ next["plaintext"] }}' href="/{{ next.identifier() }}">{{ next.identifier() }}</a>
{% endif %}
</p>

<h5 class="card-title">Fano variety <span class="identifier">{{ fano.identifier() }}</span>{% if fano["name"] %}: {{ fano["name"] | safe }}{% endif %}</h5>

{{ description(fano) }}

{% if fano["alternative"] %}
  <p class="mb-0"><strong>Alternative description{% if fano["alternative"] | length > 1 %}s{% endif %}</strong>:
  <ul>
    {% for alternative in fano["alternative"] %}
      <li>{{ alternative | safe }}
    {% endfor %}
  </ul>
{% endif %}

<dl class="row">
  <dt class="col-6 text-right">Picard rank
  <dd class="col-6">{{ fano["rho"] }}
  {% if fano["rho"] in [1, 2, 3, 4, 5] %}(<a href="/{{ fano["rho"] }}">others</a>){% endif %}

  <dt class="col-6 text-right">$-\mathrm{K}_X^3$
  <dd class="col-6">{{ fano["KX3"] }}

  <dt class="col-6 text-right">$\mathrm{h}^{1,2}(X)$
  <dd class="col-6">{{ fano["h12"] }}
</dl>

{% if fano["remarks"] %}
  <h5>Remarks</h5>
  {% for remark in fano["remarks"] %}
    <p>{{ remark | safe }}</p>
  {% endfor %}
{% endif %}

{% endmacro %}


{# information about |-K_X| #}
{% macro anticanonical(fano) %}
<dl class="row">
  <dt class="col-6 text-right">index</dt>
  <dd class="col-6">{{ fano["index"] }}</dd>

  {% if fano["index"] == 2 or fano["index"] == 4 %}
    {% set degree = fano["KX3"] // 8 %}
    <dt class="col-6 text-right"><a href="/explained#del-pezzo">del Pezzo of degree {{ degree }}</a></dt>
    <dd class="col-6">
      {% if degree == 1 %}
        $X\to\mathbb{P}^2$
      {% elif degree == 2 %}
        $X\overset{2:1}{\to}\mathbb{P}^3$
      {% elif fano["index"] == 4 %}
        $\mathbb{P}^3\hookrightarrow\mathbb{P}^9$, Veronese embedding
      {% else %}
        $X\hookrightarrow\mathbb{P}^{% raw %}{{% endraw %}{{ degree + 1 }}{% raw %}}{% endraw %}$
      {% endif %}
    </dd>
  {% endif %}

  <dt class="col-6 text-right">$\dim\mathrm{H}^0(X,\omega_X^\vee)$</dt>
  <dd class="col-6">{{ fano["KX3"] // 2 + 3 }}</dd>

  {# from Quantum periods for 3-dimensional Fano manifolds  #}
  <dt class="col-6 text-right">$-\mathrm{K}_X$ very ample?</dt>
  {% if (fano["rho"], fano["ID"]) not in [(1, 1), (1, 11), (2, 1), (2, 2), (2, 3), (9, 1), (10, 1)] %}
    <dd class="col-6 text-nowrap">yes
      {% if fano["rho"] == 1 and fano["ID"] in [2, 5] %}if (a), else no{% endif %}
    </dd>
  {% else %}
    <dd class="col-6 text-nowrap">no</dd>
  {% endif %}

  {# page 216 of Iskovskikh--Prokhorov, remark (ii) #}
  <dt class="col-6 text-right">$-\mathrm{K}_X$ basepoint free?</dt>
  {% if (fano["rho"], fano["ID"]) not in [(2, 1), (10, 1)] %}
    <dd class="col-6 text-nowrap">yes</dd>
  {% else %}
    <dd class="col-6 text-nowrap">no</dd>
  {% endif %}

  {# page 216 of Iskovskikh--Prokhorov, remark (iii) #}
  <dt class="col-6 text-right"><a href="/explained#hyperelliptic">hyperelliptic</a></dt>
  {% if (fano["rho"], fano["ID"]) not in [(2, 2), (2, 3), (10, 1)] %}
    <dd class="col-6 text-nowrap">no
  {% else %}
    <dd class="col-6 text-nowrap">yes
  {% endif %}

  {# page 216 of Iskovskikh--Prokhorov, remark (iv) #}
  <dt class="col-6 text-right">trigonal</dt>
  {% if (fano["rho"], fano["ID"]) not in [(2, 4), (2, 5), (8, 1)] %}
    <dd class="col-6 text-nowrap">no
  {% else %}
    <dd class="col-6 text-nowrap">yes
  {% endif %}
</dl>
{% endmacro %}


{# Hodge diamond #}
{% macro diamond(fano) %}
<div class="diamond">
  <span>1</span><br style="clear: both">

  <span>0</span>
  <span>0</span><br style="clear: both">

  <span>0</span>
  <span>{{ fano["rho"] }}</span>
  <span>0</span><br style="clear: both">

  <span>0</span>
  <span>{{ fano["h12"] }}</span>
  <span>{{ fano["h12"] }}</span>
  <span>0</span><br style="clear: both">

  <span>0</span>
  <span>{{ fano["rho"] }}</span>
  <span>0</span><br style="clear: both">

  <span>0</span>
  <span>0</span><br style="clear: both">

  <span>1</span><br style="clear: both">
</div>

{% if fano["polyvector"] %}
<div class="parallelogram">
  <span>{{ fano["polyvector"][0][0] }}</span>
  <span></span>
  <span></span>
  <span></span>
  <br style="clear: both">

  <span>{{ fano["polyvector"][0][1] }}</span>
  <span>{{ fano["polyvector"][1][0] }}</span>
  <span></span>
  <span></span>
  <br style="clear: both">

  <span>{{ fano["polyvector"][0][2] }}</span>
  <span>{{ fano["polyvector"][1][1] }}</span>
  <span>{{ fano["polyvector"][2][0] }}</span>
  <span></span>
  <br style="clear: both">

  <span>{{ fano["polyvector"][0][3] }}</span>
  <span>{{ fano["polyvector"][1][2] }}</span>
  <span>{{ fano["polyvector"][2][1] }}</span>
  <span>{{ fano["polyvector"][3][0] }}</span>
  <br style="clear: both">

  <span></span>
  <span>{{ fano["polyvector"][1][3] }}</span>
  <span>{{ fano["polyvector"][2][2] }}</span>
  <span>{{ fano["polyvector"][3][1] }}</span>
  <br style="clear: both">

  <span></span>
  <span></span>
  <span>{{ fano["polyvector"][2][3] }}</span>
  <span>{{ fano["polyvector"][3][2] }}</span>
  <br style="clear: both">

  <span></span>
  <span></span>
  <span></span>
  <span>{{ fano["polyvector"][3][3] }}</span>
  <br style="clear: both">
</div>
{% endif %}
{% endmacro %}


{# information about toric geometry #}
{% macro toric(fano) %}
<p>This variety is <a href="/explained#toric">toric</a>.

<p>It corresponds to <a href="http://www.grdb.co.uk/search/toricsmooth?id_cmp=in&id={{ fano.grdb }}">ID #{{ fano.grdb }} on grdb.co.uk</a>.
{% endmacro %}


{# information about birational geometry #}
{% macro birational(fano) %}
{% if fano["rationality"] == "yes" %}
  <p>This variety is rational.
{% elif fano["rationality"] == "generically non-rational" %}
  <p>This variety is known to be generically non-rational.
{% elif fano["unirationality"] in ["yes", "some"] %}
  <p>This variety is not rational but {% if fano["unirationality"] == "some" %}at least some are{% endif %} unirational.
{% elif fano["unirationality"] == "?" %}
  <p>This variety is not known to be unirational.
{% else %}
  <p>This variety is not unirational.
{% endif %}

<hr>

{% if fano["is_primitive"] %}
  <p>This variety is primitive.<p>
{% else %}
  <p>This variety is the blowup of
  <ul>
    {% for blowdown in fano["blowdown"] %}
      <li><a href="/{{ blowdown.identifier() }}" class="identifier" data-toggle="tooltip" data-placement="bottom" data-html="true" title='{{ blowdown["plaintext"] }}'>{{ blowdown.identifier() }}</a>, in a curve of genus {{ fano["h12"] - blowdown["h12"] }}
    {% endfor %}
  </ul>
{% endif %}

{% if fano["blowup"] %}
  <p>This variety can be blown up (in a curve) to
  <ul>
    {% for blowup in fano["blowup"] %}
      <li><a href="/{{ blowup.identifier() }}" class="identifier" data-toggle="tooltip" data-placement="bottom" data-html="true" title='{{ blowup["plaintext"] }}'>{{ blowup.identifier() }}</a>, in a curve of genus {{ blowup["h12"] - fano["h12"] }}
    {% endfor %}
  </ul>
{% endif %}

{% if fano["fibrelike"] %}
  <hr>

  <p>This variety is <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=3509946">fibre-like</a>, i.e. it can appear as the fibre of a Mori fibre space.</p>
{% endif %}
{% endmacro %}


{# information about deformation theory #}
{% macro deformations(fano) %}
<dl class="row">
  <dt class="col-6 text-right">number of moduli</dt>
  <dd class="col-6">
    {% if fano["moduli"] | length == 1 %}{{ fano["moduli"][0] }}
    {% else %}<ol class="description"><li>{{ fano["moduli"][0] }}<li>{{ fano["moduli"][1] }}</ol>{% endif %}
  </dd>
  {% if -1 in fano["moduli"] %}
    <p class="alert alert-warning">The value -1 means that I don't know the correct value yet.</p>
  {% endif %}

  <hr>

  <table class="table-sm mx-auto">
    <thead>
      <tr class="border-bottom">
        <th class="text-center"><a href="/explained#aut">$\mathrm{Aut}^0(X)$</a></th>
        <th class="text-center">$\dim\mathrm{Aut}^0(X)$</th>
        <th class="text-center">number of moduli</th>
      </tr>
    </thead>

    <tbody>
      {% for tuple in fano["Aut"] %}
        <tr>
          <td class="text-center">${{ tuple[0] }}$</td>
          <td class="text-center">{{ tuple[2] }}</td>
          <td class="text-center">{{ tuple[1] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</dl>
{% endmacro %}


{# description as a zero section #}
{% macro zero_section(fano) %}
<p><a href="https://arxiv.org/abs/2009.13382">Fano 3-folds from homogeneous vector bundles over Grassmannians</a> gives the following description(s):
{% for section in fano.sections %}
  <dl class="row">
    <dt class="col-3 text-right">variety</dt>
    <dd class="col-9">{{ section["ambient"] }}</dd>

    <dt class="col-3 text-right">bundle</dt>
    <dd class="col-9">{{ section["bundle"] }}</dd>
  </dl>

  {% if not loop.last %}<p><hr>{% endif %}
{% endfor %}
<p>See <a href="/zero-section">the big table</a> for more information.
{% endmacro %}


{# information about period sequences #}
{% macro period(fano) %}
{% if fano.period %}
  <p>The following period sequences are associated to this Fano 3-fold:</p>
  <dl class="row">
    <dt class="col-6 text-right"><abbr title="Graded Ring Database">GRDB</abbr></dt>
    <dd class="col-6"><a href="http://www.grdb.co.uk/search/period3?id={{ fano.period_grdb }}">#{{ fano.period_grdb }}</a>

    <dt class="col-6 text-right">Fanosearch</dt>
    <dd class="col-6"><a href="http://coates.ma.ic.ac.uk/3DMinkowskiPeriodSequences.html#{{ fano.period_fanosearch }}">#{{ fano.period_fanosearch }}</a>
  </dl>
{% else %}
  <p>There is no period sequence associated to this Fano 3-fold.
{% endif %}
{% endmacro %}


{# information about MMP #}
{% macro mmp(fano) %}
{% for contraction in fano.MMP %}
  {% if contraction[0] == "P1" %}
    <p>$\mathbb{P}^1$-bundle over ${{ contraction[1] }}$, for the vector bundle ${{ contraction[2] }}$.
  {% endif %}
{% endfor %}
{% endmacro %}


{# information about semiorthogonal decompositions #}
{% macro sod(fano) %}
{% if fano.h12 == 0 %}
  {% if fano.exceptional | length == 1 %}
    <p>A full exceptional collection can be constructed using {{ fano.exceptional[0] }}.
  {% else %}
  <p>A full exceptional collection was constructed by <strong>{{ fano.exceptional[0] }}</strong> in <strong>{{ fano.exceptional[1] }}</strong>, see {{ MR(fano.exceptional[2]) }}.
  {% endif %}

  {% if fano.toric %}
    <p>Alternatively, Kawamata has constructed a full exceptional collection for every smooth projective toric variety.
  {% endif %}
{% else %}
  <p><em>There exist interesting semiorthogonal decompositions, but this data is not yet added.</em>
{% endif %}
{% endmacro %}


{# information about quantum cohomology #}
{% macro qh(fano) %}
{% if fano.h12 != 0 %}
  <p>By Hertling&ndash;Manin&ndash;Teleman we have that quantum cohomology cannot be generically semisimple, as $\mathrm{h}^{1,2}\neq 0$.
{% else %} {# should be semisimple, but when is this known? #}
  {% if fano.qh | length > 0 %}
    <p>Generic semisimplicity of:
    <ul>
    {% for reference in fano.qh %}
    <li>{{ reference[0] }} quantum cohomology, proved by {{ reference[1] }} in {{ reference[2] }}, see {{ MR(reference[3]) }}, using {{ reference[4] }}
    {% endfor %}
    </ul>
  {% endif %}
{% endif %}
{% endmacro %}


{# information about Hilbert schemes of lines and conics #}
{% macro hilbert(fano) %}
{% if 1 in fano.hilbert %}
  <p>The <strong>Hilbert scheme of lines</strong> is {{ fano.hilbert.1.description | safe }}.
  <p>Its Hodge diamond is
  {{ surface_diamond(fano.hilbert.1.invariants.pg, fano.hilbert.1.invariants.q, fano.hilbert.1.invariants.h12) }}
{% endif %}

{% if 2 in fano.hilbert %}
  <p>The <strong>Hilbert scheme of conics</strong> is {{ fano.hilbert.2.description | safe }}.
  <p>Its Hodge diamond is
  {{ surface_diamond(fano.hilbert.2.invariants.pg, fano.hilbert.2.invariants.q, fano.hilbert.2.invariants.h12) }}
{% endif %}
{% endmacro %}


{# information about anticanonical bundle of a del Pezzo surface #}
{% macro delpezzo_anticanonical(delpezzo) %}
<dl class="row">
  <dt class="col-6 text-right">index</dt>
  <dd class="col-6">{{ delpezzo["index"] }}</dd>

  <dt class="col-6 text-right">$\dim\mathrm{H}^0(S,\omega_S^\vee)$</dt>
  <dd class="col-6">{{ delpezzo["degree"] + 1}}</dd>

  <dt class="col-6 text-right">$-\mathrm{K}_S$ very ample?</dt>
  <dd class="col-6">
    {% if delpezzo["degree"] >= 3 %}yes
    {% elif delpezzo["degree"] == 2 %}no, but $-2\mathrm{K}_S$ is
    {% elif delpezzo["degree"] == 1 %}no, but $-3\mathrm{K}_S$ is
    {% endif %}
</dl>
{% endmacro %}


{# information about deformations of a del Pezzo surface #}
{% macro delpezzo_deformations(delpezzo) %}
<dl class="row">
  <dt class="col-6 text-right">number of moduli</dt>
  <dd class="col-6">{{ delpezzo.moduli }}</dd>
</dl>
{% endmacro %}


{# information about automorphism groups of a del Pezzo surface #}
{% macro delpezzo_automorphisms(delpezzo) %}
<dl class="row">
  {% if delpezzo.degree in [1, 2, 3, 4] %}
    <table class="table-sm mx-auto">
      <thead>
        <tr class="border-bottom">
          <th class="text-center">type</th>
          <th class="text-center">order</th>
          <th class="text-center">structure</th>
        </tr>
      </thead>

      <tbody>
      {% for group in delpezzo.groups %}
        <tr>
          <td class="text-center">{{ group[0] }}</td>
          <td class="text-center">{{ group[1] }}</td>
          <td class="text-center">{{ group[2] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <table class="table-sm mx-auto">
      <thead>
        <tr class="border-bottom">
          <td>group</td>
          <td>dimension</td>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center">{{ delpezzo["automorphisms"][0] }}</td>
        <td class="text-center">{{ delpezzo["automorphisms"][1] }}</td>
        <td class="text-center">
  {% endif %}
</dl>
{% endmacro %}


{# Hodge diamond for a general surface #}
{% macro surface_diamond(pg, q, h12) %}
<div class="diamond">
  <span>1</span><br style="clear: both">

  <span>{{ q }}</span>
  <span>{{ q }}</span><br style="clear: both">

  <span>{{ pg }}</span>
  <span>{{ h12 }}</span>
  <span>{{ pg }}</span><br style="clear: both">

  <span>{{ q }}</span>
  <span>{{ q }}</span><br style="clear: both">

  <span>1</span><br style="clear: both">
</div>
{% endmacro %}


{# Hodge diamond for a del Pezzo surface #}
{% macro delpezzo_diamond(delpezzo) %}
{{ surface_diamond(0, 0, delpezzo.rank) }}
{% endmacro %}



{# basic information on a del Pezzo surface#}
{% macro delpezzo_basic(delpezzo, previous, next) %}
<p class="clearfix">
{% if previous %}
  <a class="previous float-left identifier" data-toggle="tooltip" data-placement="bottom" data-html="true" title='{{ previous.ID }}' href="/delpezzos/{{ previous.ID }}">{{ previous.label }}</a>
{% endif %}

{% if next %}
  <a class="next float-right identifier" data-toggle="tooltip" data-placement="bottom" data-html="true" title='{{ next.ID }}' href="/delpezzos/{{ next.ID }}">{{ next.label }}</a>
{% endif %}
</p>

<h5 class="card-title">del Pezzo surface <span class="identifier">{{ delpezzo.label }}</span>{% if delpezzo["name"] %}: {{ delpezzo["name"] }}{% endif %}</h5>

<dl class="row">
  <dt class="col-6 text-right">Picard rank
  <dd class="col-6">{{ delpezzo.rank }}

  <dt class="col-6 text-right">$-\mathrm{K}_S^2$
  <dd class="col-6">{{ delpezzo.degree }}
</dl>
{% endmacro %}
