{% extends "page.html" %}

{% import "components.html" as components %}

{% block title %}del Pezzo variety {{ delpezzo.ID }} {% endblock %}

{% block content %}

<h2>del Pezzo surface: {{ delpezzo.label }}</h2>

  <div class="card-columns">
    {{ components.component("Hodge diamond", components.delpezzo_diamond(delpezzo)) }}
    {{ components.component("Deformation theory", components.delpezzo_deformations(delpezzo)) }}

    {#
    {% if fano.toric %}
      {{ components.component("Toric geometry", components.toric(fano)) }}
    {% endif %}
    #}
  </div>

{% endblock %}


