{% extends "page.html" %}

{% import "components.html" as components %}

{% block title %}Fano variety {{ fano["rho"] }}-{{ fano["ID"] }}{% endblock %}

{% block content %}
  <div class="card-columns">
  {{ components.component("Identification", components.basic(fano, previous, next)) }}
  {{ components.component("Hodge diamond", components.diamond(fano)) }}
  {{ components.component("Anticanonical bundle", components.anticanonical(fano)) }}
  {{ components.component("Birational geometry", components.birational(fano), id="birational") }}
  {{ components.component("Deformation theory", components.deformations(fano)) }}
  </div>
{% endblock %}
