{% extends "page.html" %}

{% block title %}The classification explained{% endblock %}

{% block content %}

<h2>Statistics</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="row" class="text-right">Picard rank $\rho$</th>
      {% for rho in fanos.keys() | sort %}
        <th scope="col"><a href="/{{ rho }}">{{ rho }}</a></th>
      {% endfor %}
      <th scope="col">total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-right">number of deformation families</th>
      {% for rho in fanos.keys() | sort %}
      <td>{{ fanos[rho] | length }}</td>
      {% endfor %}
      <td><em>{{ numbers["total"] }}</em></td>
    </tr>

    <tr>
      <th scope="row" class="text-right">number of primitive deformation families</th>
      {% for rho in fanos.keys() | sort %}
      <td>{{ fanos[rho].values() | selectattr("is_primitive") | list | length }}</td>
      {% endfor %}
      <td><em>{{ numbers["primitive"] }}</em></td>
    </tr>

    <tr>
      <th scope="row" class="text-right">number of rational deformation families</th>
      {% for rho in fanos.keys() | sort %}
      <td>{{ fanos[rho].values() | selectattr("is_rational") | list | length }}</td>
      {% endfor %}
      <td><em>{{ numbers["rational"] }}</em></td>
    </tr>

    <tr>
      <th scope="row" class="text-right">number of unirational deformation families</th>
      {% for rho in fanos.keys() | sort %}
      <td>{{ fanos[rho].values() | selectattr("is_unirational") | list | length }}</td>
      {% endfor %}
      <td><em>{{ numbers["unirational"] }}</em></td>
    </tr>
  </tbody>
</table>

<p>Some other statistics you would like to see? Please get in touch!

<h2>Terminology and notation</h2>
<p>We would like to discuss the terminology which appears in the classification, but we haven't written this yet. If you would like to contribute, please get in touch!

<h3>The (anti)canonical bundle</h3>
<dl>
  <dt id="hyperelliptic">hyperelliptic</dt>
  <dd><p>The linear system $|-\mathrm{K}_X|$ is basepointfree, but not very ample, and it defines a morphism of degree 2 onto its image.

  <dt id="del-pezzo">del Pezzo varieties</dt>
  <dd><p>These are pairs $(X,H)$ of a smooth projective variety $X$ and an ample divisor $H$ such that $-\mathrm{K}_X=(\dim X-1)H$. So for Fano 3-folds these have (co)index 2 and $H$ is the generator of the Picard group, or $X=\mathbb{P}^3$ and $H$ is twice the generator of the Picard group.
  <p>There exists a classification in arbitrary dimension.
</dl>


<h3 id="aut">Automorphism groups</h3>
<p>The connected component of the identity in the whole automorphism group is described. The reason for this is that the whole automorphism group jumps quite a bit, already for del Pezzo surfaces (of low degree).
<p>At some point we should explain the notation which is used for automorphism groups, but for now one is referred to the notation overview on pages 4 and 5 of <a href="https://arxiv.org/abs/1809.09223">Cheltsov&ndash;Przyjalkowski&ndash;Shramov: Fano threefolds with infinite automorphism groups</a>.


<h3 id="toric">Toric varieties</h3>
<p>For now, see <a href="/toric">overview page</a>.

<!--
<p>IP99, 2.1.14, genus is dimension of global sections of anticanonical bundle, and $-K_X^3/2 + 1$
<p>etc. etc.
-->

{% endblock %}


