{% extends "page.html" %}

{% block title %}The classification explained{% endblock %}

{% block content %}

<h2>Statistics</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="row" class="text-right">Picard rank $\rho$</th>
      {% for rho in fanos.keys() | sort %}
        <th scope="col"><a href="/{{ rho }}">{{ rho }}</a></th>
      {% endfor %}
      <th scope="col">total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-right">number of deformation families</th>
      {% for rho in fanos.keys() | sort %}
      <td>{{ fanos[rho] | length }}</td>
      {% endfor %}
      <td><em>{{ numbers["total"] }}</em></td>
    </tr>

    <tr>
      <th scope="row" class="text-right">number of primitive deformation families</th>
      {% for rho in fanos.keys() | sort %}
      <td>{{ fanos[rho].values() | selectattr("is_primitive") | list | length }}</td>
      {% endfor %}
      <td><em>{{ numbers["primitive"] }}</em></td>
    </tr>

    <tr>
      <th scope="row" class="text-right">number of rational deformation families</th>
      {% for rho in fanos.keys() | sort %}
      <td>{{ fanos[rho].values() | selectattr("is_rational") | list | length }}</td>
      {% endfor %}
      <td><em>{{ numbers["rational"] }}</td>
    </tr>

    <tr>
      <th scope="row" class="text-right">number of unirational deformation families</th>
      {% for rho in fanos.keys() | sort %}
      <td>{{ fanos[rho].values() | selectattr("is_unirational") | list | length }}</td>
      {% endfor %}
      <td><em>{{ numbers["unirational"] }}</td>
    </tr>
  </tbody>
</table>


<h2>Terminology</h2>
<p>IP99, 2.1.14, genus is dimension of global sections of anticanonical bundle, and $-K_X^3/2 + 1$
<p>etc. etc.

{% endblock %}


