{% extends "page.html" %}

{% block title %}List of Fano varieties{% endblock %}

{% block content %}

{% for rho in fanos.keys() %}
  <h2>Fano threefolds with $\rho={{ rho }}$</h2>
  <table class="overview table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">$-\mathrm{K}_X^3$</th>
        <th scope="col">$\mathrm{h}^{1,2}$</th>
        <th scope="col">description</th>
        {% if rho != 1 %}
          <th scope="col">blowup&nbsp;of&nbsp;...</th>
        {% endif %}
        <th scope="col">rationality</th>
      </tr>
    </thead>

    <tbody>
      {% for ID in fanos[rho].keys() | sort %}
        {% set fano = fanos[rho][ID] %}
        <tr>
          <td><a class="identifier" href="/{{ fano["rho"] }}-{{ fano["ID"] }}">{{ fano["rho"] }}&ndash;{{ fano["ID"] }}</a></td>
          <td>{{ fano["KX3"] }}</td>
          <td>{{ fano["h12"] }}</td>
          <td>{{ fano["description"] | safe }}</td>
          {% if rho != 1 %}
            <td>
            {% for identifier in fano["blowdown"] %}
              <a href="/{{ identifier }}" class="identifier">{{ identifier | replace("-", "&ndash;") | safe }}</a>
            {% endfor %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}

{% endblock %}

