<!doctype html>

<html>
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-339565-15"></script>
  <script defer data-domain="fanography.info" src="https://plausible.io/js/script.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-339565-15');
  </script>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/static/css/layout.css">
  <link rel="stylesheet" href="/static/css/entry.css">

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ['tex2jax.js'],
      jax: ['input/TeX','output/HTML-CSS'],
      TeX: {
        extensions: ['AMSmath.js', 'AMSsymbols.js'],
        Macros: {
          linebreak: ["", 1, ""],
          },
        TagSide: 'left'
      },
      tex2jax: {
        inlineMath: [['$','$']],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      },
      'HTML-CSS': { scale: 90, availableFonts: [] },
    });
  </script>

  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js" integrity="sha384-crwIf/BuaWM9rM65iM+dWFldgQ1Un8jWZMuh3puxb8TOY9+linwLoI7ZHZT+aekW" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/tablesort.min.js" integrity="sha256-p3wukcf2d2jxbVnlqPDO9t4AAjnl42D2aIzrK4S0X6w=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/sorts/tablesort.number.min.js" integrity="sha256-ra1pWQ7MfuVIolZ/phcEXegs9m1ehXaCNI8cmc3gJEs=" crossorigin="anonymous"></script>

  <title>{% block title %}{% endblock %}&mdash;Fanography</title>

  <script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});


$(document).ready(function() {
  $('[data-toggle="tooltip"]').on("shown.bs.tooltip", function(e) {
    MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
  });
});
  </script>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark p-0 d-print-none" id="menu">
  <span class="navbar-brand"></span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item ml-3 ml-md-0"><a class="nav-link py-2" href="/explained">the classification explained</a></li>
      <li class="nav-item ml-3 ml-md-0"><a class="nav-link py-2" href="/delpezzos">del Pezzo surfaces</a></li>
      <li class="nav-item ml-3 ml-md-0"><a class="nav-link py-2" href="/about">about</a></li>

      <li class="nav-item d-md-none ml-3 mt-2 text-white">other:</li>
      <li class="nav-item ml-3 d-md-none"><a class="nav-link pt-2 pb-0" href="http://grassmannian.info"><img src="https://grassmannian.pythonanywhere.com/static/favicon.ico" height="20" class="mr-3">Grassmannian.info</a></li>
      <li class="nav-item ml-3 d-md-none"><a class="nav-link py-2" href="https://superficie.info/"><img src="https://superficie.info/favicon.ico" height="20" class="mr-3">le superficie algebriche</a></li>
    </ul>
  </div>

  <ul style="list-style-type: none; position: absolute; right: 0" class="list-group list-group-horizontal d-none d-lg-block">
    <li class="float-right mr-4"><a href="http://grassmannian.info"><img src="https://grassmannian.pythonanywhere.com/static/favicon.ico" height="20" class="mr-1">Grassmannian.info</a></li>
    <li class="mr-4" style="display: inline-block;"><a href="https://superficie.info/"><img src="https://superficie.info/favicon.ico" height="20" class="mr-1"><span class="d-none d-xl-inline">le </span>superficie<span class="d-none d-xl-inline"> algebriche</span></a></li>
  </ul>
</nav>

<div id="title" class="sticky-top">
  <h1><a href="/">Fanography</a></h1>
  <p id="slogan">A tool to visually study the geography of Fano 3-folds.</p>
</div>

<div id="content">
  {% block content %}{% endblock %}
</div>

</body>
</html>
