<!doctype html>

<html>
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-339565-15"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-339565-15');
  </script>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="/static/css/layout.css">
  <link rel="stylesheet" href="/static/css/entry.css">

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ['tex2jax.js'],
      jax: ['input/TeX','output/HTML-CSS'],
      TeX: {
        extensions: ['AMSmath.js', 'AMSsymbols.js'],
        Macros: {
          linebreak: ["", 1, ""],
          },
        TagSide: 'left'
      },
      tex2jax: {
        inlineMath: [['$','$']],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      },
      'HTML-CSS': { scale: 90 }
    });
  </script>

  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js" integrity="sha384-crwIf/BuaWM9rM65iM+dWFldgQ1Un8jWZMuh3puxb8TOY9+linwLoI7ZHZT+aekW" crossorigin="anonymous"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/tablesort.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/sorts/tablesort.number.min.js"></script>

  <title>{% block title %}{% endblock %}&mdash;Fanography</title>
</head>

<body>

<div id="menu">
  <ul class="list-inline">
    <li class="list-inline-item"><a href="/explained">the classification explained</a>
    <li class="list-inline-item"><a href="/about">about</a>
  </ul>
</div>

<div id="title" class="sticky-top">
  <h1><a href="/">Fanography</a></h1>
  <p id="slogan">A tool to visually study the geography of Fano 3-folds.</p>
</div>

<div id="content">
  {% block content %}{% endblock %}
</div>

</body>
</html>
