{% extends "page.html" %}

{% import "components.html" as components %}

{% block title %}List of del Pezzo varieties{% endblock %}

{% block content %}

<h2>del Pezzo threefolds</h2>

<p>On this page we list del Pezzo varieties, which can exist in arbitrary dimension, specialised to dimension 3.

<p>We say that a pair $(X,H)$ of a smooth projective variety $X$ and an ample divisor $H$ is a <strong>del Pezzo variety</strong> if $-\mathrm{K}_X=(\dim X-1)H$. So for Fano 3-folds these have (co)index 2 and $H$ is the generator of the Picard group, or $X=\mathbb{P}^3$ and $H$ is twice the generator of the Picard group.

<p>Closely related are <strong>del Pezzo surfaces</strong>, which have <a href="/delpezzo-surfaces">have their own page</a>.

{{ components.delpezzovarieties(fanos, order) }}

{% endblock %}

