{% extends "page.html" %}

{% import "components.html" as components %}

{% block title %}List of Fano varieties for which Bott vanishing holds{% endblock %}

{% block content %}

<p>Bott vanishing holds for a smooth projective variety $X$ if $\mathrm{H}^j(X,\Omega_X^i\otimes\mathcal{L})=0$ for all $j\geq 1$, $i\geq 0$ and $\mathcal{L}\in\operatorname{Pic}(X)$ <em>ample</em>.
<p>The Fano 3-folds for which Bott vanishing holds (resp. fails) were classified by Totaro in <a href="https://arxiv.org/abs/2302.08142v1">Bott vanishing for Fano 3-folds</a>. Earlier he showed that del Pezzo surfaces of degree at least 5 satisfy Bott vanishing.

<h2>Fano threefolds satisfying Bott vanishing</h2>

{{ components.bott_table(fanos) }}

{% endblock %}
