{{ define "main" }}
{{ $dp := partialCached "lib/enrich-delpezzo.html" (dict "id" .Params.dpid) .Params.dpid }}
<h2>del Pezzo surface: {{ $dp.label }}</h2>

  <div class="card-columns">
    {{ partial "components/component.html" (dict "header" "Identification" "id" "" "body" (partial "components/delpezzo-basic.html" $dp)) }}
    {{ partial "components/component.html" (dict "header" "Hodge diamond" "id" "" "body" (partial "components/delpezzo-diamond.html" $dp)) }}
    {{ partial "components/component.html" (dict "header" "Anticanonical bundle" "id" "" "body" (partial "components/delpezzo-anticanonical.html" $dp)) }}
    {{ partial "components/component.html" (dict "header" "Deformation theory" "id" "" "body" (partial "components/delpezzo-deformations.html" $dp)) }}
    {{ partial "components/component.html" (dict "header" "Automorphism groups" "id" "" "body" (partial "components/delpezzo-automorphisms.html" $dp)) }}
  </div>
{{ end }}
